      :root {
         --pri: blue;
         --r: red;
         --f: yellow;
     }
     
     .content {
         height: 400px;
         width: 400px;
         box-sizing: border-box;
         border: 1px solid black;
         display: grid;
         grid-template-columns: repeat(8, 1fr);
         grid-template-rows: repeat(8, 1fr);
         background-color: white;
     }
     
     body {
         margin-top: 100px;
         width: 100%;
         height: 100%;
         display: grid;
         place-items: center;
     }
     
     .content * {
         text-align: center;
         font-size: 30px;
         transition: .2s ease-in-out;
         cursor: pointer;
     }
     
     .black {
         background-color: black;
         color: white;
     }
     
     .black:hover {
         background-color: blue;
     }
     
     .white {
         background-color: white;
         color: black;
     }
     
     .white:hover {
         background-color: blue;
     }